$icon-font-path: "/fonts/";

@import "bootstrap/bootstrap";
@import "../fuelux-3.16.3/dist/css/fuelux.min.css";
@import "../bootstrap-tagsinput/bootstrap-tagsinput.css";
@import "../bootstrap-tagsinput/bootstrap-tagsinput-typeahead.css";
@import "../js/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
body {
  background-image: url(/noisy-texture.png);
}

#main-content {
  width: 100%;
  padding: 20px;
}

#antragsliste {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .adder-row {
    .titel-input {
      width: 400px;
    }
    .typen-input {
      float: right;
    }
  }

  > li {
    padding: 0;
    border: solid 1px #88D959;
    border-radius: 5px;
    margin: 1px 1px 20px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(136, 217, 89, 0.1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(136, 217, 89, 0.1);
    box-shadow: 3px 3px 0px 0px rgba(136, 217, 89, 0.1);

    .titelRow {
      background-color: #88D959;
      padding: 3px;
      @include clearfix;

      a.title, a.title:link, a.title:visited {
        display: inline-block;
        margin-right: 15px;
        font-weight: bold;
        color: black;
      }

      .dokumentLink {
        &, &:link, &:visited {
          color: gray;
          margin-left: -8px;
          margin-right: 15px;
        }
        &:hover {
          text-decoration: underline;
        }
      }

      .titleAdd {
        float: right;
      }

    }

    &.abgelaufen .titelRow:before {
      content: '!';
      font-weight: bold;
      font-size: 40px;
      line-height: 20px;
      vertical-align: middle;
      margin-right: 10px;
      float: left;
      color: red;
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .body {
      background-color: white;
      @include clearfix;
    }
  }

  .sort_link {
    display: block;

    .sort_hidden {
      visibility: hidden;
    }
    &:hover {
      .sort_hidden {
        visibility: visible;
      }
    }
  }

  .antragsdatumCol {
    dl {
      margin-bottom: 0;
      margin-left: 7px;
    }
    dd, dt {
      display: inline-block;
      margin-top: 3px;
    }
    dt {
      width: 90px;
      font-weight: normal;
    }
    .datum-label {
      float: left;
      line-height: 33px;
      margin-right: 5px;
      width: 80px;
    }
  }

  .aktionCol {
    text-align: right;
    .saved {
      font-size: 10px;
    }
  }

  .nicht-fraktion {
    color: gray;
  }

  .tagsCol {
    padding-bottom: 0;
    padding-top: 3px;
  }

  .notizCol {
    padding-top: 3px;
  }

  textarea {
    width: 100%;
    min-height: 60px;
    font-size: 13px;
  }

  .bootstrap-tagsinput .label {
    font-size: 100%;
    font-weight: normal;
  }

  .abgeschlossen_override {
    float: right;
    font-weight: normal;
    font-size: 0.9em;
    vertical-align: middle;
    color: gray;

    input {
      vertical-align: middle;
      margin-top: 1px;
    }
  }

  .overridden {
    text-decoration: line-through;;
    color: gray;
  }

  .dokumentStatusCol {
    padding-top: 3px;
  }

  ul.dokumentliste {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    font-size: 13px;
    li {
      margin: 0;
      padding: 0;
      color: gray;
    }
  }
}

.sort-row {
  margin-top: -27px;
  text-align: right;
  display: block;
  margin-right: 4px;

  > li {
    display: inline-block;
    margin: 0 20px 0 0;
  }
}

#filterWidget {
  > .filter {
    display: inline-block;
    margin: 10px;
  }
}

.zeitraumFilter {
  padding: 10px;
  background: #fafafa;
  border-bottom: solid 1px #ccc;
  margin: -20px -20px 20px;
  overflow: auto;

  .zeitraum {
    float: left;
  }
  .aes {
    float: right;
  }
}
